:root{
    --cor-fundo: #e967f8 ;
    --cor-principal: #6b1574 ;
    --cor-secundaria: #3e2a42; 
    --cor-destaque: #ea62f1;
    --cor-texto: #efb0ff;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}
